# IDE files and folders
.project
.classpath
*.iml
.idea/
.settings/

# Compiled files
*.class

# OS files.
.DS_Store*
Thumbs.db

# Misc folders
bin/
build/
misc/
target/

# Misc files
MobArena.jar
build.properties

# Virtualenv (for docs)
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib/python*/
[Ll]ib64
[Ll]ocal
[Mm]an
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# ReadTheDocs generated documentation
docs/_build
